.list
{
  
  background-color: #F0C5B6;
  
  
}

.currencies
{
  color:  #BC5435;
  list-style: none;
  background-color: white;
  padding: 20px;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;

  
  
}
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');

.step-list{
  color:  #BC5435;
  list-style: none;
  background-color: white;
  padding: 20px;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  border-top: 1px solid #f0c5b6 ;

  
}

.step-list:hover{
background-color: #f0c5b6;
transition: 1s ease-in-out;
/* transition: all 1s 0.1s ease-in; */
}

.etape{
  width: auto;
  height: 450px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  text-align: initial;
}
