@use 'src/styles/vars';

.amount {
  padding: vars.$gutter * 3 0;
  text-align: center;

  &-value {
    font-weight: bold;
    font-size: 2em;
  }

  &-currency {
    font-size: 1.3em;
    margin-top: vars.$gutter;
  }
}