.app {
  background-color: #fff;
  height: 100%;
  width: 300px;
  margin: 200px auto;
  border-radius: 20px;
  border: solid black 4px;
  padding: 4px;

}
html{
  background-image: url(https://i.pinimg.com/originals/cc/4e/01/cc4e012fc8d96cbe52d99dd863743823.jpg);
  background-size: cover;
}

#root{}
