@use 'src/styles/vars';

.header {
  background-color: vars.$color;
  color: #fff;
  text-align: center;
  padding: vars.$gutter * 3 0;
  border-radius: 20px 20px 0px 0px;

  &-title {
    font-size: 2em;
    font-weight: 700;
  }

  &-amount {
    margin-top: vars.$gutter;
    font-size: 1.3em;
    font-weight: 100;
  }

  &:hover {
    background-color: vars.$color-alt;
    transition: 0.2s;
  }

}


