.footer
{
  background-color: white;
  padding: 50px;
  font-size: xx-large;
  font-family: 'Spartan', sans-serif;

}

.footer-h1{
  font-weight: bold;
  color: #BC5435;
  
}

.footer-h2{
  margin-top: 10px;
  color: #BC5435;
}
